@import "tailwindcss";

:root {
  /* Apply Inter as default font */
  font-family: var(--font-inter), sans-serif;

  /* If using Radix UI's theme, override their font variables */
  --default-font-family: var(--font-inter), sans-serif;
  --heading-font-family: var(--font-lora), sans-serif;
}

/* Apply Fira Sans to headings */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-lora), sans-serif;

  font-weight: 500; /* Adjust as needed */
}

h1 {
  font-size: xx-large;
}

h2 {
  font-size: x-large;
}

h3 {
  font-size: larger;
}

h4 {
  font-size: large;
}

/* Optional: If you want to use Fira Sans in specific components */
.heading-font {
  font-family: var(--font-lora), sans-serif;
}

html {
  background-color: var(--plum-2);
  color: var(--plum-11);
}
